

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.activeNavLink {
    background-color: #555;
}